:root {
  --text-color-white: #fff;
  --text-color-black: #333333;
  --text-color-grey: #eaeaea;
  --text-color-red: #f1592a;
  --text-color-orange: #f7941d;
  --bg-color-white: #fff;
  --bg-color-black: #333333;
  --bg-color-grey: #eaeaea;
  --bg-color-red: #f1592a;
  --bg-color-orange: #f7941d;
}

@font-face {
  font-family: "Reguler";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
[data-custom=border-bottom] {
  border-bottom: 1px solid #eaeaea;
}

[data-custom=margin] {
  margin: 20px 0 5px 0 !important;
}

[data-custom=gallery-last-child-box] {
  border: 4px solid #f7941d;
}

[data-custom=all-article-margin] {
  margin: 0 !important;
}

[data-custom=all-article-content-margin] {
  margin: 50px 0 0 0 !important;
}

[data-custom=main-admin-col] {
  height: 90vh;
  overflow: scroll;
}

[data-custom=main-admin-col-2] {
  width: 150px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #333333;
  font-family: "Reguler";
  font-size: 1rem;
}

.nav-menu {
  height: 100%;
  width: 100%;
  background-color: #eaeaea;
  position: fixed;
  z-index: 9999;
  top: 0;
  display: none;
}
.nav-menu .nav-menu-main {
  padding: 50px 0;
  height: 100%;
}
.nav-menu .nav-menu-main .button-menu-close {
  margin: 0 50px 0 0;
}
.nav-menu .nav-menu-main .button-menu-close .btn-closed .bar4,
.nav-menu .nav-menu-main .button-menu-close .btn-closed .bar5,
.nav-menu .nav-menu-main .button-menu-close .btn-closed .bar6 {
  width: 35px;
  height: 5px;
  background-color: #333333;
  margin: 6px 0;
}
.nav-menu .nav-menu-main .button-menu-close .btn-closed .bar4 {
  transform: translate(0, 11px) rotate(-45deg);
}
.nav-menu .nav-menu-main .button-menu-close .btn-closed .bar5 {
  opacity: 0;
}
.nav-menu .nav-menu-main .button-menu-close .btn-closed .bar6 {
  transform: translate(0, -11px) rotate(45deg);
}
.nav-menu .nav-menu-main .button-menu-close .btn-closed:focus {
  box-shadow: none;
}
.nav-menu .nav-menu-main ul {
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav-menu .nav-menu-main ul li {
  list-style: none;
  margin: 10px 0;
}
.nav-menu .nav-menu-main ul li a {
  font-family: "Bold";
  text-decoration: none;
  color: #333333;
  font-size: 2em;
}

.custom-navbar .navbar-brand img {
  width: 50px;
  height: auto;
}
.custom-navbar ul li {
  padding: 10px 25px;
}
.custom-navbar ul li:last-child {
  padding-right: 0px;
}
.custom-navbar ul li a {
  font-family: "Reguler";
  text-decoration: none;
  color: #333333;
  font-size: 0.9em;
  transition: 0.5s;
}
.custom-navbar ul li a:hover {
  color: #f7941d;
  transition: 0.5s;
}

.section-home {
  width: 100%;
  height: 100%;
}
.section-home .section-home-main {
  padding: 150px 0 0 0;
}
.section-home .section-home-main .main-home-content {
  height: 100%;
}
.section-home .section-home-main .main-home-content .home-hey {
  font-family: "Bold";
  margin-bottom: 5px;
}
.section-home .section-home-main .main-home-content .home-wellcome {
  font-family: "Bold";
  color: #f7941d;
}
.section-home .section-home-main .main-home-content .home-text {
  margin-top: 10px;
}
.section-home .section-home-main .main-home-content .home-tersedia {
  margin: 40px 0 0 0;
  font-size: 0.8em;
}
.section-home .section-home-main .main-home-content ul {
  padding: 0;
}
.section-home .section-home-main .main-home-content ul li {
  display: inline;
  list-style: none;
}
.section-home .section-home-main .main-home-content ul li:first-child {
  margin-right: 20px;
}
.section-home .section-home-main .main-home-content ul li .logo-gofood,
.section-home .section-home-main .main-home-content ul li .logo-grabfood {
  width: 200px;
  height: auto;
}
.section-home .img-home {
  width: 400px;
  height: auto;
  border-radius: 50px;
}

.section-about {
  width: 100%;
  margin-top: 100px;
  padding: 100px 0 0 0;
}
.section-about .about-judul {
  font-family: "Bold";
  margin-bottom: 50px;
  color: #f7941d;
}
.section-about .about-subjudul {
  font-family: "Bold";
  font-size: 1.5em;
  margin-top: 100px;
}
.section-about .about-text {
  margin-bottom: 90px;
}
.section-about .kelebihan {
  width: 100%;
  height: auto;
  padding: 30px 0;
  background-color: #f7941d;
}
.section-about .kelebihan .card-custom {
  width: 550px;
  height: 210px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
}
.section-about .kelebihan .card-custom .card-judul {
  font-family: "Bold";
  font-size: 1.3em;
  margin-bottom: 0;
  color: #f7941d;
}
.section-about .kelebihan .card-custom .card-text {
  margin-top: 5px;
}

.section-gallery {
  width: 100%;
  height: 100%;
  margin: 50px 0 20px 0;
}
.section-gallery .section-gallery-main {
  padding: 100px 0 0 0;
}
.section-gallery .section-gallery-main .gallery-judul {
  font-family: "Bold";
  color: #f7941d;
}
.section-gallery .section-gallery-main .gallery {
  margin: 50px 0 0 0;
}
.section-gallery .section-gallery-main .gallery .img-gallery {
  width: auto;
  height: 400px;
  transition: 0.5s;
  aspect-ratio: 1/1;
  margin-bottom: 50px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.137);
}
.section-gallery .section-gallery-main .gallery .img-gallery:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.section-gallery .section-gallery-main .gallery .img-gallery.img-gallery-text {
  font-family: "Bold";
  font-size: 1.8em;
  text-decoration: none;
  color: #f7941d;
}

.section-produk {
  width: 100%;
  height: 100%;
  min-height: 110vh;
  margin-top: 10px;
}
.section-produk .produk-judul {
  font-family: "Bold";
  margin-bottom: 50px;
  padding-top: 100px;
  color: #f7941d;
}
.section-produk .section-produk-main {
  margin: 0 0 50px 0;
}
.section-produk .section-produk-main .img-produk {
  width: auto;
  height: 400px;
  transition: 0.5s;
  aspect-ratio: 1/1;
  margin-bottom: 50px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.137);
}
.section-produk .section-produk-main .img-produk:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.section-produk .section-produk-main .nama-produk {
  font-family: "Bold";
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 0;
}
.section-produk .section-produk-main .deskripsi-produk {
  font-family: "Reguler";
  font-size: 0.8em;
  padding: 0 50px;
  margin-top: 3px;
  margin-bottom: 80px;
  text-align: justify;
}

.section-beliga {
  width: 100%;
  height: auto;
  margin-top: 10px;
  background-color: #f7941d;
  padding: 40px 0;
}
.section-beliga .beliga-judul {
  font-family: "Bold";
  margin: 0;
  font-size: 2em;
  color: #fff;
}
.section-beliga .logo-beligofood {
  width: 100px;
  height: auto;
}
.section-beliga .logo-beligrabfood {
  width: 100px;
  height: auto;
}
.section-beliga .btn-hubungi {
  font-family: "Bold";
  color: #f7941d;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 7px 20px;
  transition: 0.5s;
}
.section-beliga .btn-hubungi:hover {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  transition: 0.5s;
}
.section-beliga .btn-hubungi:focus {
  box-shadow: none;
}

.section-testimoni {
  width: 100%;
  height: 100%;
  margin: 0 0 50px 0;
}
.section-testimoni .testimoni-judul {
  font-family: "Bold";
  margin: 0;
  padding-top: 100px;
  margin-bottom: 50px;
  color: #f7941d;
}
.section-testimoni .card-testi {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.137);
  transition: 0.5s;
}
.section-testimoni .card-testi:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.section-testimoni .card-testi .card-testi-main {
  padding: 40px 50px;
  height: 100%;
}
.section-testimoni .card-testi .testi-rate {
  margin-bottom: 40px;
}
.section-testimoni .card-testi .testi-rate span {
  font-family: "Bold";
}
.section-testimoni .card-testi .testi-nama {
  font-family: "Bold";
}

.section-kemitraan {
  width: 100%;
  height: 100%;
  padding: 100px 0 0 0;
}
.section-kemitraan .kemitraan-main .kemitraan-judul {
  font-family: "Bold";
  color: #f7941d;
}
.section-kemitraan .kemitraan-main .price {
  margin: 70px 0 70px 0;
}
.section-kemitraan .kemitraan-main .price .card-price {
  width: 400px;
  height: auto;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.137);
  transition: 0.5s;
}
.section-kemitraan .kemitraan-main .price .card-price:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.section-kemitraan .kemitraan-main .price .card-price .card-price-main {
  padding: 40px 50px;
  height: 100%;
}
.section-kemitraan .kemitraan-main .price .card-price .price-paket {
  font-family: "Bold";
  color: #333333;
  margin: 0;
}
.section-kemitraan .kemitraan-main .price .card-price .price-harga {
  font-family: "Bold";
  font-size: 1.3em;
  color: #f7941d;
  margin: 3px 0 20px 0;
}
.section-kemitraan .kemitraan-main .price .card-price .price-rincian {
  font-size: 0.9em;
  margin: 0;
}
.section-kemitraan .kemitraan-main .price .card-price .btn-download {
  font-family: "Bold";
  font-size: 1em;
  color: #f7941d;
  background-color: #fff;
  border: 2px solid #f7941d;
  border-radius: 10px;
  padding: 7px 20px;
  margin: 20px 0 0 0;
  transition: 0.5s;
}
.section-kemitraan .kemitraan-main .price .card-price .btn-download:hover {
  color: #fff;
  background-color: #f7941d;
  border: 2px solid #f7941d;
  transition: 0.5s;
}
.section-kemitraan .kemitraan-main .price .card-price .btn-download:focus {
  box-shadow: none;
}
.section-kemitraan .kemitraan-main .pendaftaran .judul-form {
  font-family: "Bold";
  font-size: 1.5em;
}
.section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-text {
  font-family: "Reguler";
}
.section-kemitraan .kemitraan-main .pendaftaran .line-break {
  width: 100%;
  height: 1px;
  background-color: #eaeaea;
  margin: 20px 0 0 0;
}
.section-kemitraan .kemitraan-main .pendaftaran .data-pribadi {
  font-family: "Bold";
  font-size: 1.2em;
  color: #333333;
  margin: 20px 0 0 0;
}
.section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-main .form-label {
  font-family: "Bold";
  font-size: 0.9em;
}
.section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-main .form-control,
.section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-main .form-select {
  font-family: "Reguler";
  font-size: 0.9em;
}
.section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-main .form-control:focus,
.section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-main .form-select:focus {
  box-shadow: none;
  border: 1px solid #333333;
}
.section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-main .btn-kirim {
  font-family: "Bold";
  font-size: 1em;
  color: #fff;
  background-color: #f7941d;
  border: 2px solid #f7941d;
  border-radius: 10px;
  padding: 7px 50px;
  margin: 20px 0 0 0;
  transition: 0.5s;
}
.section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-main .btn-kirim:hover {
  color: #f7941d;
  background-color: #fff;
  border: 2px solid #f7941d;
  transition: 0.5s;
}
.section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-main .btn-kirim:focus {
  box-shadow: none;
}

.section-news {
  margin: 100px 0 0 0;
}
.section-news .section-news-main {
  padding: 50px 0 100px 0;
}
.section-news .section-news-main .col {
  width: 400px;
  margin-right: auto !important;
  margin-left: auto !important;
}
.section-news .section-news-main .news-judul {
  font-family: "Bold";
  color: #f7941d;
}
.section-news .section-news-main .all-news-wrap {
  margin: 50px 20px 30px 0;
}
.section-news .section-news-main .all-news-wrap .all-news {
  font-family: "Bold";
  font-size: 1em;
  color: #333333;
  text-decoration: none;
  transition: 0.5s;
}
.section-news .section-news-main .all-news-wrap .all-news:hover {
  color: #f7941d;
  transition: 0.5s;
}
.section-news .section-news-main .content .card-news {
  transition: 0.5s;
}
.section-news .section-news-main .content .card-news:hover {
  transform: scale(1.01);
  transition: 0.5s;
}
.section-news .section-news-main .content .card-news a {
  text-decoration: none;
}
.section-news .section-news-main .content .card-news .card-news-main {
  margin: 0 0 50px 0;
}
.section-news .section-news-main .content .card-news .card-news-main ul {
  display: inline;
  padding: 0;
}
.section-news .section-news-main .content .card-news .card-news-main ul li {
  display: inline-block;
  list-style: none;
  margin: 20px 0 15px 0;
}
.section-news .section-news-main .content .card-news .card-news-main .publish-date,
.section-news .section-news-main .content .card-news .card-news-main .publish-by {
  font-size: 0.8em;
  color: #333333;
  margin: 0;
}
.section-news .section-news-main .content .card-news .card-news-main .img-news {
  width: 400px;
  height: 400px;
  aspect-ratio: 1/1;
  border-radius: 0;
}
.section-news .section-news-main .content .card-news .card-news-main .img-news h1 {
  font-family: "Bold";
  font-size: 1.5em;
  color: #eaeaea;
  margin: 0;
}
.section-news .section-news-main .content .card-news .card-news-main .judul-news {
  font-family: "Bold";
  font-size: 1.2em;
  color: #333333;
  margin: 0 0 10px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.section-news .section-news-main .content .card-news .card-news-main .news-text {
  font-family: "Reguler";
  font-size: 1em;
  color: #333333;
  margin: 0 0 20px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.section-news .section-news-main .content .card-news .card-news-main .judul-news,
.section-news .section-news-main .content .card-news .card-news-main .news-text {
  padding: 0 20px 0 0;
}
.section-news .section-news-main .content .card-news .card-news-main .baca-selengkapnya {
  font-family: "Bold";
  font-size: 1em;
  color: #333333;
  transition: 0.5s;
}
.section-news .section-news-main .content .card-news .card-news-main .baca-selengkapnya:hover {
  color: #f7941d;
  transition: 0.5s;
}

.foother {
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
}
.foother .foother-main {
  padding: 70px 0 20px 0;
}
.foother .foother-main .fo-logo {
  width: 50px;
  height: auto;
  margin: 0 0 20px 0;
}
.foother .foother-main ul {
  padding: 0;
  margin: 0;
}
.foother .foother-main ul li {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
.foother .foother-main ul li .fo-nav {
  font-family: "Reguler";
  text-decoration: none;
  color: #333333;
  font-size: 0.9em;
  transition: 0.5s;
}
.foother .foother-main ul li .fo-nav:hover {
  color: #fff;
  transition: 0.5s;
  color: #f7941d;
}
.foother .foother-main .hub ul li {
  margin: 0;
  padding: 0;
}
.foother .foother-main .hub ul li .foother-hubungi {
  font-family: "Bold";
  font-size: 1em;
  color: #f7941d;
}
.foother .foother-main .hub ul li .foother-alamat,
.foother .foother-main .hub ul li .foother-notlp,
.foother .foother-main .hub ul li .foother-email {
  font-size: 0.9em;
}
.foother .foother-main .hub ul li .foother-alamat,
.foother .foother-main .hub ul li .foother-email {
  margin: 0;
}
.foother .foother-main .hub ul li .foother-notlp,
.foother .foother-main .hub ul li .foother-email {
  text-decoration: none;
  color: #333333;
  transition: 0.5s;
}
.foother .foother-main .hub ul li .foother-notlp:hover,
.foother .foother-main .hub ul li .foother-email:hover {
  color: #fff;
  transition: 0.5s;
  color: #f7941d;
}
.foother .foother-main .fo-sosmed ul {
  padding: 0;
  margin: 30px 0 0 0;
}
.foother .foother-main .fo-sosmed ul li {
  list-style: none;
  display: inline;
}
.foother .foother-main .fo-sosmed ul li a {
  text-decoration: none;
}
.foother .foother-main .fo-sosmed ul li a .fo-img-yt,
.foother .foother-main .fo-sosmed ul li a .fo-img-ig,
.foother .foother-main .fo-sosmed ul li a .fo-img-fb {
  width: 50px;
  height: auto;
}
.foother .foother-main .foother-copyright {
  border-top: 1px solid #fff;
  margin: 50px 0 0 0;
}
.foother .foother-main .foother-copyright p {
  font-size: 0.8em;
  margin: 20px 0 0 0;
}

.splide__track {
  padding: 30px 0;
}

.gallery-page {
  margin-top: 100px;
}
.gallery-page .gallery-page-main .judul {
  font-family: "Bold";
  color: #f7941d;
  margin: 0;
}
.gallery-page .gallery-page-main .gallery {
  margin: 50px 0 0 0;
}
.gallery-page .gallery-page-main .gallery .img-gallery {
  width: auto;
  height: 400px;
  transition: 0.5s;
  aspect-ratio: 1/1;
  margin-bottom: 50px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.137);
}
.gallery-page .gallery-page-main .gallery .img-gallery:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.gallery-page .gallery-page-main .gallery .img-gallery.img-gallery-text {
  font-family: "Bold";
  font-size: 1.8em;
  text-decoration: none;
  color: #f7941d;
}

.detail-news {
  margin: 50px 0 50px 0;
}
.detail-news .detail-news-main {
  padding: 50px 0 0 0;
}
.detail-news .detail-news-main .img-detail-news {
  width: 100%;
  height: auto;
}
.detail-news .detail-news-main .detail-news-judul {
  font-family: "Bold";
  font-size: 2em;
  color: #f7941d;
  margin: 50px 0 0 0;
}
.detail-news .detail-news-main .detail-news-publish {
  margin: 10px 0 30px 0;
  font-size: 0.9em;
}
.detail-news .detail-news-main .detail-news-text {
  font-size: 1em;
}
.detail-news .detail-news-main .detail-news-sumber {
  font-family: "Bold";
  overflow: hidden;
}
.detail-news .detail-news-main .detail-news-sumber a {
  font-family: "Reguler";
  text-decoration: none;
}
.detail-news .detail-news-main .section-news {
  margin: 100px 0 0 0;
}
.detail-news .detail-news-main .section-news .section-news-main {
  padding: 0;
}
.detail-news .detail-news-main .section-news .section-news-main .news-judul {
  margin: 30px 0 50px 0;
}

.form-login {
  width: 100%;
  height: 100vh;
}
.form-login .form-login-main {
  width: 100%;
  height: 100vh;
}
.form-login .form-login-main .login-card {
  width: 400px;
  height: 400px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.137);
  border-radius: 40px;
  border: 2px solid #f7941d;
}
.form-login .form-login-main .login-card .login-card-main {
  padding: 40px;
}
.form-login .form-login-main .login-card .login-card-main .judul {
  font-family: "Bold";
  font-size: 1.5em;
  color: #f7941d;
}
.form-login .form-login-main .login-card .login-card-main form {
  margin-top: 50px;
}
.form-login .form-login-main .login-card .login-card-main form .form-label {
  font-family: "Bold";
  font-size: 1em;
}
.form-login .form-login-main .login-card .login-card-main form input {
  font-size: 1em;
}
.form-login .form-login-main .login-card .login-card-main form input:focus {
  box-shadow: none;
  border: 1px solid #f7941d;
}
.form-login .form-login-main .login-card .login-card-main form .btn-login {
  font-family: "Bold";
  font-size: 1em;
  color: #fff;
  background-color: #f7941d;
  border: 2px solid #f7941d;
  border-radius: 10px;
  padding: 5px 50px;
  margin: 20px 0 0 0;
  transition: 0.5s;
}
.form-login .form-login-main .login-card .login-card-main form .btn-login:hover {
  color: #f7941d;
  background-color: #fff;
  border: 2px solid #f7941d;
  transition: 0.5s;
}
.form-login .form-login-main .login-card .login-card-main form .btn-login:focus {
  box-shadow: none;
}

.navbar-admin .username {
  font-family: "Bold";
  margin: 0;
}
.navbar-admin .username .logout {
  font-size: 1em;
}

.main-admin {
  height: 100%;
}
.main-admin .container {
  height: 100%;
}
.main-admin .content {
  height: 100%;
}
.main-admin .content .content-right {
  padding: 40px;
}
.main-admin .content .content-right .judul {
  font-family: "Bold";
  font-size: 1.5em;
  margin: 0 0 30px 0;
}
.main-admin .content .content-right .table td,
.main-admin .content .content-right .table th {
  font-size: 0.9em;
}
.main-admin .content .content-right .table td.judul-article span,
.main-admin .content .content-right .table th.judul-article span {
  width: 150px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-admin .content .content-right .table td.judul-article img,
.main-admin .content .content-right .table th.judul-article img {
  width: 50px;
  height: auto;
  border-radius: 5px;
}
.main-admin .content .content-right .table .btn-edit-article {
  font-size: 1em;
  padding: 0;
}
.main-admin .content .content-right .table .btn-edit-article:hover {
  color: #f7941d;
}
.main-admin .content .content-right .table .btn-edit-article:focus {
  box-shadow: none;
  border: none;
}
.main-admin .content .content-right .table .btn-hapus-article {
  font-size: 1em;
  padding: 0;
}
.main-admin .content .content-right .table .btn-hapus-article:hover {
  color: #f7941d;
}
.main-admin .content .content-right .table .btn-hapus-article:focus {
  box-shadow: none;
  border: none;
}
.main-admin .content .content-right .form-label,
.main-admin .content .content-right .form-control,
.main-admin .content .content-right .form-check-label {
  font-size: 0.9em;
}
.main-admin .content .content-right .form-label:focus,
.main-admin .content .content-right .form-control:focus,
.main-admin .content .content-right .form-check-label:focus {
  box-shadow: none;
  border: 1px solid #f7941d;
}
.main-admin .content .content-right .hb-editor {
  width: 100%;
  margin: 0;
}
.main-admin .content .content-right .hb-editor .hb-editor-elements {
  margin-top: 0;
}
.main-admin .content .content-right .btn-admin-submit {
  font-family: "Bold";
  font-size: 0.9em;
  color: #fff;
  background-color: #f7941d;
  border: 2px solid #f7941d;
  border-radius: 10px;
  padding: 5px 50px;
  margin: 20px 0 0 0;
  transition: 0.5s;
}
.main-admin .content .content-right .btn-admin-submit:hover {
  color: #f7941d;
  background-color: #fff;
  border: 2px solid #f7941d;
  transition: 0.5s;
}
.main-admin .content .content-right .btn-admin-submit:focus {
  box-shadow: none;
}
.main-admin .content .side-nav {
  border-right: 1px solid #eaeaea;
  height: 100%;
}
.main-admin .content .side-nav .side-nav-main {
  padding: 20px 0;
  height: 100%;
}
.main-admin .content .side-nav .side-nav-main .btn-dropdown {
  padding: 10px 0;
}
.main-admin .content .side-nav .side-nav-main ul {
  padding: 0 0;
  margin: 0;
}
.main-admin .content .side-nav .side-nav-main ul li {
  list-style: none;
}
.main-admin .content .side-nav .side-nav-main ul li a:focus {
  box-shadow: none;
  border: none;
}

@media (max-width: 575.98px) {
  .d-xs-none {
    display: none !important;
  }
  .img-home {
    width: 350px !important;
  }
  .card-custom {
    width: 330px !important;
    height: 280px !important;
  }
  .beliga-judul {
    font-size: 1em !important;
  }
  .foother-main .hub {
    margin: 50px 0 0 0;
  }
  .foother-main ul {
    text-align: left !important;
  }
  .foother-main ul li {
    text-align: left !important;
  }
  .detail-news {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 767.98px) {
  .section-about .kelebihan .card-custom {
    width: 480px;
  }
}
@media (max-width: 991.98px) {
  .custom-navbar .navbar-brand img {
    width: 40px;
    height: auto;
  }
  .custom-navbar ul li {
    padding: 5px 10px;
  }
  .custom-navbar .btn-menu .bar1, .custom-navbar .btn-menu .bar2, .custom-navbar .btn-menu .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333333;
    margin: 6px 0;
  }
  .custom-navbar .btn-menu:focus {
    box-shadow: none;
  }
  .section-home .section-home-main {
    padding: 50px 0 0 0;
  }
  .section-home .section-home-main .img-home {
    margin: 0 0 50px 0;
  }
  .section-home .section-home-main .main-home-content .home-wellcome {
    font-size: 1.8em;
  }
  .section-home .section-home-main .main-home-content .home-text {
    font-size: 0.9em;
  }
  .section-home .section-home-main .main-home-content .home-tersedia {
    margin: 30px 0 0 0;
  }
  .section-home .section-home-main .main-home-content ul li:first-child {
    margin: 0 0 10px 0;
  }
  .section-home .section-home-main .main-home-content ul li .logo-gofood {
    width: 120px;
    height: auto;
  }
  .section-home .section-home-main .main-home-content ul li .logo-grabfood {
    width: 150px;
    height: auto;
  }
  .section-about {
    width: auto;
    height: auto;
    padding: 50px 0 0 0 !important;
    margin: 50px 0 0 0 !important;
  }
  .section-about .about-judul {
    font-size: 1.8em;
    margin: 0;
  }
  .section-about .about-subjudul {
    font-size: 1.2em;
    margin: 50px 0 10px 0;
  }
  .section-about .about-text {
    font-size: 0.9em;
    margin: 0 0 30px 0 !important;
    text-align: justify;
    text-justify: inter-word;
  }
  .section-about .kelebihan .card-custom {
    width: 650px;
    height: 200px;
    margin: 20px 0;
  }
  .section-about .kelebihan .card-custom .card-judul {
    font-size: 1.2em;
  }
  .section-about .kelebihan .card-custom .card-text {
    font-size: 0.9em;
  }
  .section-gallery .section-gallery-main {
    padding: 30px 0 0 0;
  }
  .section-gallery .section-gallery-main .gallery .img-gallery {
    height: 280px;
    margin: 0 0 50px 0 !important;
  }
  .section-produk {
    margin: 50px 0 0 0;
  }
  .section-produk .section-produk-main {
    padding: 30px 0 0 0;
  }
  .section-produk .section-produk-main .img-produk {
    height: 280px;
    margin: 0 0 50px 0 !important;
  }
  .section-produk .produk-judul {
    padding: 0;
  }
  .section-beliga {
    padding: 30px 0;
  }
  .section-beliga .beliga-judul {
    font-size: 1.5em;
  }
  .section-beliga .btn-hubungi {
    font-size: 0.9em;
  }
  .section-testimoni {
    margin: 40px 0 50px 0;
  }
  .section-testimoni .testimoni-judul {
    font-size: 1.8em;
    padding: 30px 0 0 0;
    margin: 0 0 30px 0;
  }
  .section-testimoni .card-testi {
    width: 350px !important;
    height: 300px !important;
  }
  .section-testimoni .card-testi .card-testi-main {
    padding: 20px 30px;
  }
  .section-testimoni .card-testi .card-testi-main .testi-rate {
    font-size: 0.9em;
    margin: 0 0 10px 0;
  }
  .section-testimoni .card-testi .card-testi-main .testi-text {
    font-size: 0.9em;
    margin: 0 0 10px 0;
  }
  .section-testimoni .card-testi .card-testi-main .testi-nama {
    margin: 0;
  }
  .section-kemitraan {
    padding: 30px 0 50px 0;
  }
  .section-kemitraan .kemitraan-main .kemitraan-judul {
    font-size: 1.8em;
  }
  .section-kemitraan .kemitraan-main .kemitraan-text {
    font-size: 0.9em;
    text-align: justify !important;
    text-justify: inter-word !important;
  }
  .section-kemitraan .kemitraan-main .price {
    margin: 50px 0 70px 0;
  }
  .section-kemitraan .kemitraan-main .price .col-sm:nth-child(2) {
    margin: 40px 0;
  }
  .section-kemitraan .kemitraan-main .price .card-price {
    width: 350px !important;
    height: 300px !important;
  }
  .section-kemitraan .kemitraan-main .price .card-price .card-price-main {
    padding: 30px 40px;
  }
  .section-kemitraan .kemitraan-main .price .card-price .card-price-main .price-paket {
    font-size: 1em;
  }
  .section-kemitraan .kemitraan-main .price .card-price .card-price-main .price-harga {
    font-size: 1.2em;
    margin: 3px 0 10px 0;
  }
  .section-kemitraan .kemitraan-main .price .card-price .card-price-main .price-rincian {
    font-size: 0.8em;
  }
  .section-kemitraan .kemitraan-main .price .card-price .btn-download {
    font-size: 0.9em;
    margin: 10px 0 0 0;
  }
  .section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-main .judul-form {
    font-size: 1.2em;
  }
  .section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-main .pendaftaran-text {
    font-size: 0.9em;
  }
  .section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-main .btn-kirim {
    font-size: 0.9em;
  }
  .gallery-page .gallery-page-main .gallery .img-gallery {
    height: 280px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 1199.98px) {
  .custom-navbar .navbar-brand img {
    width: 40px;
    height: auto;
  }
  .custom-navbar ul li {
    padding: 5px 10px;
  }
  .section-home .section-home-main .main-home-content .home-tersedia {
    margin: 20px 0 0 0;
    font-size: 0.9em;
  }
  .section-home .section-home-main .main-home-content ul {
    margin: 0;
  }
  .section-home .home-wellcome {
    font-size: 2em;
  }
  .section-home .logo-gofood {
    width: 120px !important;
    height: auto !important;
  }
  .section-home .logo-grabfood {
    width: 150px !important;
    height: auto !important;
  }
  .section-about {
    height: auto;
    margin: 100px 0 0 0;
    padding: 50px 0 0 0;
  }
  .section-about .about-judul {
    font-size: 2em;
    margin: 0;
  }
  .section-about .about-subjudul {
    font-size: 1.4em;
    margin: 50px 0 10px 0;
  }
  .section-about .about-text {
    margin: 0 0 70px 0;
  }
  .section-about .kelebihan {
    padding: 20px 0;
  }
  .section-about .kelebihan .card-custom {
    width: 430px;
    height: 230px;
  }
  .section-about .kelebihan .card-custom .card-judul {
    font-size: 1.4em;
  }
  .section-gallery {
    height: auto;
    margin: 50px 0 0 0;
  }
  .section-gallery .section-gallery-main {
    padding: 50px 0 0 0;
  }
  .section-gallery .section-gallery-main .gallery-judul {
    font-size: 2em;
  }
  .section-gallery .section-gallery-main .gallery .img-gallery {
    width: auto;
    height: 290px;
    margin: 0 0 30px 0;
  }
  .section-produk {
    height: auto;
    min-height: auto;
    margin: 50px 0 0 0;
  }
  .section-produk .section-produk-main {
    margin: 0;
    padding: 50px 0 0 0;
  }
  .section-produk .section-produk-main .produk-judul {
    font-size: 2em;
    padding: 0;
  }
  .section-produk .section-produk-main .img-produk {
    height: 290px;
    margin: 0 0 30px 0;
  }
  .section-beliga {
    margin: 100px 0 50px 0;
  }
  .section-beliga .beliga-judul {
    font-size: 2em;
  }
  .section-beliga .logo-beligofood {
    width: 80px;
    height: auto;
    margin: 15px 0 0 0;
  }
  .section-beliga .btn-hubungi {
    padding: 5px 20px;
  }
  .section-testimoni {
    padding: 50px 0 0 0;
  }
  .section-testimoni .testimoni-judul {
    font-size: 2em;
    padding: 0;
    margin: 0;
  }
  .section-testimoni .splide__track {
    padding: 50px 0;
  }
  .section-testimoni .card-testi {
    width: 290px;
    height: 230px;
  }
  .section-testimoni .card-testi .card-testi-main {
    padding: 30px;
  }
  .section-testimoni .card-testi .card-testi-main .testi-rate {
    font-size: 0.9em;
    margin: 0 0 10px 0;
  }
  .section-testimoni .card-testi .card-testi-main .testi-text {
    font-size: 0.9em;
    margin: 0 0 10px 0;
  }
  .section-testimoni .card-testi .card-testi-main .testi-nama {
    margin: 0;
  }
  .section-kemitraan {
    padding: 50px 0 0 0;
  }
  .section-kemitraan .kemitraan-main {
    padding: 0 0 100px 0;
  }
  .section-kemitraan .kemitraan-main .kemitraan-judul {
    font-size: 2em;
  }
  .section-kemitraan .kemitraan-main .price .card-price {
    width: 280px;
  }
  .section-kemitraan .kemitraan-main .price .card-price .card-price-main {
    padding: 30px 40px;
  }
  .section-kemitraan .kemitraan-main .price .card-price .card-price-main .price-paket {
    font-size: 1em;
  }
  .section-kemitraan .kemitraan-main .price .card-price .card-price-main .price-harga {
    font-size: 1.2em;
    margin: 3px 0 10px 0;
  }
  .section-kemitraan .kemitraan-main .price .card-price .card-price-main .price-rincian {
    font-size: 0.8em;
  }
  .section-kemitraan .kemitraan-main .price .card-price .btn-download {
    font-size: 0.9em;
    margin: 10px 0 0 0;
  }
  .section-kemitraan .kemitraan-main .pendaftaran .judul-form {
    font-size: 1.2em;
  }
  .section-kemitraan .kemitraan-main .pendaftaran .pendaftaran-text {
    font-size: 0.9em;
  }
  .section-kemitraan .kemitraan-main .pendaftaran .btn-kirim {
    font-size: 0.9em !important;
  }
  .section-news {
    margin: 0;
  }
  .section-news .section-news-main {
    padding: 30px 0;
  }
  .section-news .section-news-main .news-judul {
    font-size: 2em;
  }
  .section-news .section-news-main .all-news-wrap {
    margin: 30px 20px 30px 0;
  }
  .section-news .section-news-main .col {
    width: 290px;
  }
  .section-news .section-news-main .content .card-news .card-news-main .judul-news {
    padding: 0;
  }
  .section-news .section-news-main .content .card-news .card-news-main .news-text {
    padding: 0;
  }
  .section-news .section-news-main .content .card-news .card-news-main .img-news {
    width: auto;
    height: 290px;
    margin: 0 0 15px 0;
  }
  .gallery-page .gallery-page-main .gallery .img-gallery {
    width: auto;
    height: 290px;
    margin: 0 0 30px 0;
  }
}/*# sourceMappingURL=main.css.map */